<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">item 1</h2>
    <span class="icon collapsible__icon">
      <i><img src="../images/avatar-1.png" alt="" /></i>
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">item 1</h2>
    <span class="icon collapsible__icon">
      <i><img src="../images/avatar-1.png" alt="" /></i>
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </div>
</div>
