<div class="everyday--tasks">
  <h2 class="heading">Simplify everyday business tasks.</h2>
  <p>
    Because you'd probably be a little confused if we suggested you complicate
    your everyday business tasks instead.
  </p>
</div>
<div class="media">
  <span class="icon">
    <i><img src="../images/avatar-1.png" alt="" /></i>
  </span>
  <span class="media__tag">Reporting</span>
  <h4 class="media__heading">
    Stay on top of things with alwayss up-to-date reporting features.
  </h4>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet perspiciatis
    et cumque vel ex ut laborum nesciunt vero. Accusantium, quos?
  </p>
  <div class="image__container">
    <img src="../images/inventory.png" alt="" />
  </div>
</div>
<div class="media">
  <span class="icon">
    <i><img src="../images/avatar-1.png" alt="" /></i>
  </span>
  <span class="media__tag">inventory</span>
  <h4 class="media__heading">
    Never lose track of what's in stock with accurate inventory tracking.
  </h4>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet perspiciatis
    et cumque vel ex ut laborum nesciunt vero. Accusantium, quos?
  </p>
  <div class="image__container">
    <img src="../images/inventory.png" alt="" />
  </div>
</div>
<div class="media">
  <span class="icon">
    <i><img src="../images/avatar-1.png" alt="" /></i>
  </span>
  <span class="media__tag">Contacts</span>
  <h4 class="media__heading">
    Organise all of your contacts, services providers, and invoices in one
    place.
  </h4>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet perspiciatis
    et cumque vel ex ut laborum nesciunt vero. Accusantium, quos?
  </p>
  <div class="image__container">
    <img src="../images/inventory.png" alt="" />
  </div>
</div>
