<section class="faq">
  <div class="container">
    <header class="faqHeader">
      <h2>Frequently asked questions</h2>
      <p>
        If you can't find what you're looking for, email our support team and if
        you're lucky someone will get back to you.
      </p>
    </header>
    <div class="faqGrid">
      <div class="gridOne">
        <div class="gridInfo">
          <h3>Does TaxPal handle VAT?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
            accusantium harum iure!
          </p>
        </div>
        <div class="gridInfo">
          <h3>Can i pay for my subscription via purchase order?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
            accusantium harum iure!
          </p>
        </div>
        <div class="gridInfo">
          <h3>How do i apply for a job at TaxPal?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
            accusantium harum iure!
          </p>
        </div>
      </div>
      <div class="gridTwo">
        <div class="gridInfo">
          <h3>What was that testimonial about tax fraud all about?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
            accusantium harum iure!
          </p>
        </div>
        <div class="gridInfo">
          <h3>
            TaxPal sounds horrible but why do i still feel compelled to
            purchase?
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
            accusantium harum iure! consectetur adipisicing elit.
          </p>
        </div>
        <div class="gridInfo">
          <h3>
            I found other companies called TaxPal, are you sure you can use this
            name?
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
            accusantium harum iure! dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="gridThree">
        <div class="gridInfo">
          <h3>How do you generate reports?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
            accusantium harum iure! Lorem ipsum dolor sit amet consectetur
            adipisicing elit.
          </p>
        </div>
        <div class="gridInfo">
          <h3>Can we expect more inventory features?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="gridInfo">
          <h3>I lost my password, how do i get into my account?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
            accusantium harum iure! amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
