<footer class="footer">
  <div class="companyName">
    <h3>
      <span class="icon icon--small">
        <i><img src="../images/avatar-1.png" alt="" /></i></span
      >TaxPal
    </h3>
    <ul class="list list--inline">
      <li class="list__item"><a href="">Features</a></li>
      <li class="list__item"><a href="">Testimonials</a></li>
      <li class="list__item"><a href="">Pricing</a></li>
    </ul>
  </div>
  <div class="footerIcons">
    <ul class="list list--inline">
      <li class="list__item"><i class="fa fa-twitter"></i></li>
      <li class="list__item"><i class="fa fa-github"></i></li>
    </ul>
  </div>
  <div class="copyMedia">
    <p class="footerCopyright">
      Copyright&copy; 2022 TaxPal. All rights reserved.
    </p>
  </div>
</footer>
