<ul class="list">
  <li class="list__item">im a list item</li>
  <li class="list__item">im a list item</li>
  <li class="list__item">im a list item</li>
  <li class="list__item">im a list item</li>
  <li class="list__item">im a list item</li>
  <li class="list__item">im a list item</li>
</ul>
<ul class="list list--inline">
  <li class="list__item">im a list item</li>
  <li class="list__item">im a list item</li>
  <li class="list__item">im a list item</li>
  <li class="list__item">im a list item</li>
  <li class="list__item">im a list item</li>
  <li class="list__item">im a list item</li>
</ul>
