<div class="media">
  <span class="icon">
    <i><img src="../images/avatar-1.png" alt="" /></i>
  </span>
  <span class="media__tag">inventory</span>
  <h4 class="media__heading">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
    perferendis.
  </h4>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet perspiciatis
    et cumque vel ex ut laborum nesciunt vero. Accusantium, quos?
  </p>
  <div class="image__container">
    <img src="../images/inventory.png" alt="" />
  </div>
</div>
