<nav class="nav collapsible container">
  <a class="nav__logo" href="/">
    <img src="images/halftime.png" alt="" />
    <h3 class="nav__heading">Tax<span class="styling__text">Pal </span></h3>
    <li href="#" class="list list--inline nav__links">
      <a href="#" class="nav__link">Features</a>
      <a href="#" class="nav__link">Testimonials</a>
      <a href="#" class="nav__link">Pricing</a>
    </li>
  </a>

  <div class="nav__buttons">
    <button class="btn btn__tertiary nav__hidden">Sign in</button>
    <button class="btn btn__primary dnav__hidden">Get Started</button>
    <button class="btn btn__primary nav__hidden">Get Started Today</button>
    <span class="icon nav__icon">
      <i
        ><img class="collapsible__icon" src="../images/avatar-1.png" alt=""
      /></i>
    </span>
  </div>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="">Features</a></li>
    <li class="nav__item"><a href="">Testimonials</a></li>
    <li class="nav__item"><a href="">Pricing</a></li>
    <span class="sign__in">
      <li class="nav__item"><a href="">Sign in</a></li>
    </span>
  </ul>
</nav>
