<div class="payroll--block">
  <header>
    <h2 class="heading">Everthing you need to run your books.</h2>
    <p>
      Well everything you need if you aren't that picky about minor details like
      tax compliance.
    </p>
  </header>
  <div class="payroll-btns list--inline">
    <button class="btn payroll__btn active">Payroll</button>
    <button class="btn payroll__btn">Claim expenses</button>
    <button class="btn payroll__btn">VAT handling</button>
    <button class="btn payroll__btn">Reporting</button>
  </div>
  <div class="payroll--options">
    <div class="option optionOne activeOption">
      <h5 class="option__heading">Payroll</h5>
      <p>
        Keep track of everyone's salaries and whether or not they've been paid.
        Direct deposit not supported.
      </p>
    </div>
    <div class="option optionTwo">
      <h5 class="option__heading">Claim expenses</h5>
      <p>
        All of your receipts organised into one place, as long as you dont mind
        typing in the data by hand.
      </p>
    </div>
    <div class="option optionThree">
      <h5 class="option__heading">VAT handling</h5>
      <p>
        We only sell our software to companies who don't deal with VAT at all,
        so technically we do all the VAT stuff they need.
      </p>
    </div>
    <div class="option optionFour">
      <h5 class="option__heading">Reporting</h5>
      <p>
        Easily export your data into an excel spreadsheet where you can do
        whatever the hell you want.
      </p>
    </div>
    <div class="payroll__image">
      <img src="images/payroll1.png" alt="" />
    </div>
  </div>
</div>
