<div class="plan">
  <span class="plan__price">$10</span>
  <div class="badge">Starter</div>
  <p>Lorem ipsum dolor sit amet.</p>
  <button class="btn btn--block btn__tertiary">Get started</button>
  <ul class="list">
    <li class="list__item">im a item</li>
    <li class="list__item">im a item</li>
    <li class="list__item">im a item</li>
    <li class="list__item">im a item</li>
    <li class="list__item">im a item</li>
  </ul>
</div>
<div class="plan popular">
  <span class="plan__price">$10</span>
  <div class="badge">Starter</div>
  <p>Lorem ipsum dolor sit amet.</p>
  <button class="btn btn--block btn__tertiary">Get started</button>
  <ul class="list">
    <li class="list__item">im a item</li>
    <li class="list__item">im a item</li>
    <li class="list__item">im a item</li>
    <li class="list__item">im a item</li>
    <li class="list__item">im a item</li>
  </ul>
</div>
