<div class="pricing--block">
  <header class="pricing--header">
    <h2 class="heading">Simple pricing, for everyone.</h2>
    <p>
      It doesn't matter what size your business is, our software will work well
      for you
    </p>
  </header>
  <div class="plans">
    <div class="plan">
      <span class="plan__price">$9</span>
      <div class="badge">Starter</div>
      <p>Good for everyone who is self-employed and just getting started.</p>
      <button class="btn btn--block btn__tertiary">Get started</button>
      <ul class="list">
        <li class="list__item">
          <span><i class="fa fa-check"></i></span> Send 10 quotes and invoices
        </li>
        <li class="list__item">
          <span><i class="fa fa-check"></i></span> Connect up to 2 bank accounts
        </li>
        <li class="list__item">
          <span><i class="fa fa-check"></i></span> Track up to 15 expenses per
          month
        </li>
        <li class="list__item">
          <span><i class="fa fa-check"></i></span> Manual payout support
        </li>
        <li class="list__item">
          <span><i class="fa fa-check"></i></span> Export up to 3 reports
        </li>
      </ul>
    </div>
    <div class="plan popular">
      <span class="plan__price">$15</span>
      <div class="badge">Small Business</div>
      <p>Lorem ipsum dolor sit amet.</p>
      <button class="btn btn--block btn__tertiary">Get started</button>
      <ul class="list">
        <li class="list__item">
          <span><i class="fa fa-check"></i></span> Send 10 quotes and invoices
        </li>
        <li class="list__item">
          <span><i class="fa fa-check"></i></span> Connect up to 2 bank accounts
        </li>
        <li class="list__item">
          <span><i class="fa fa-check"></i></span> Track up to 15 expenses per
          month
        </li>
        <li class="list__item">
          <span><i class="fa fa-check"></i></span> Manual payout support
        </li>
        <li class="list__item">
          <span><i class="fa fa-check"></i></span> Export up to 3 reports
        </li>
      </ul>
    </div>
    <div class="plan">
      <span class="plan__price">$39</span>
      <div class="badge">Enterprise</div>
      <p>Lorem ipsum dolor sit amet.</p>
      <button class="btn btn--block btn__tertiary">Get started</button>
      <ul class="list">
        <li class="list__item">
          <span><i class="fa fa-check"></i></span> Send 10 quotes and invoices
        </li>
        <li class="list__item">
          <span><i class="fa fa-check"></i></span> Connect up to 2 bank accounts
        </li>
        <li class="list__item">
          <span><i class="fa fa-check"></i></span> Track up to 15 expenses per
          month
        </li>
        <li class="list__item">
          <span><i class="fa fa-check"></i></span> Manual payout support
        </li>
        <li class="list__item">
          <span><i class="fa fa-check"></i></span> Export up to 3 reports
        </li>
      </ul>
    </div>
  </div>
</div>
