<div class="testimonials--block">
  <header>
    <h2 class="heading">Loved by businesses worldwide</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi eveniet,
      reiciendis itaque sit molestias ipsa vero illum at sed aperiam.
    </p>
  </header>
  <div class="grid">
    <div class="card">
      <div class="container">
        <p class="card__info">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
          voluptas est iste. Exercitationem natus eveniet?
        </p>
        <div class="card--media">
          <div class="card__name">
            <p>Sheryl Berge</p>
            <span>CEO at Lynch LLC</span>
          </div>
          <div class="card__profile">
            <img src="../images/avatar-1.png" alt="#" />
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="container">
        <p class="card__info">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
          voluptas est iste. Exercitationem natus eveniet?
        </p>
        <div class="card--media">
          <div class="card__name">
            <p>Sheryl Berge</p>
            <span>CEO at Lynch LLC</span>
          </div>
          <div class="card__profile">
            <img src="../images/avatar-1.png" alt="#" />
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="container">
        <p class="card__info">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
          voluptas est iste. Exercitationem natus eveniet?
        </p>
        <div class="card--media">
          <div class="card__name">
            <p>Sheryl Berge</p>
            <span>CEO at Lynch LLC</span>
          </div>
          <div class="card__profile">
            <img src="../images/avatar-1.png" alt="#" />
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="container">
        <p class="card__info">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
          voluptas est iste. Exercitationem natus eveniet?
        </p>
        <div class="card--media">
          <div class="card__name">
            <p>Sheryl Berge</p>
            <span>CEO at Lynch LLC</span>
          </div>
          <div class="card__profile">
            <img src="../images/avatar-1.png" alt="#" />
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="container">
        <p class="card__info">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
          voluptas est iste. Exercitationem natus eveniet?
        </p>
        <div class="card--media">
          <div class="card__name">
            <p>Sheryl Berge</p>
            <span>CEO at Lynch LLC</span>
          </div>
          <div class="card__profile">
            <img src="../images/avatar-1.png" alt="#" />
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="container">
        <p class="card__info">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
          voluptas est iste. Exercitationem natus eveniet?
        </p>
        <div class="card--media">
          <div class="card__name">
            <p>Sheryl Berge</p>
            <span>CEO at Lynch LLC</span>
          </div>
          <div class="card__profile">
            <img src="../images/avatar-1.png" alt="#" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
