<div class="trusted--block">
  <header><p>Trusted by these six companies so far</p></header>
  <div class="grid grid1x2">
    <div class="grid__item">
      <img src="../images/avatar-1.png" /> Transistor
    </div>
    <div class="grid__item"><img src="../images/avatar-1.png" /> Mirage</div>
    <div class="grid__item"><img src="../images/avatar-1.png" /> Tuple</div>
    <div class="grid__item"><img src="../images/avatar-1.png" /> Laravel</div>
    <div class="grid__item"><img src="../images/avatar-1.png" /> StaticKit</div>
    <div class="grid__item"><img src="../images/avatar-1.png" /> Statamic</div>
  </div>
</div>
